%h2 About us 
.div{class: "small-10 columns"}
  .row{class: "founder-page" }
    .div{class: "small-2 columns"}
      %img{:alt => "Phillip Mispagel", :src => "https://secure.gravatar.com/avatar/ba269c78a5b4ff6bd675d11ea047e678.png?r=PG&d=mm&s=98", :title => "Phillip Mispagel"}
    .div{class: "small-6 columns left"}
      Phillip is an avid card reader hailing from San Francisco. He's worked in the tech industry for the last 10 years, 5 of which were automating systems at VMware.  Being self taught, a formal programming experience from Devbootcamp seemed the logical next best step.
  .row{class: "founder-page" }
    .div{class: "small-2 columns"}
      %img{:alt => "Uzma Rahman", :src => "https://secure.gravatar.com/avatar/18010fdba6285f0d8716e0e025697d13.png?r=PG&d=mm&s=98", :title => "Uzma Rahman"}
    .div{class: "small-6 columns left"}
      Uzma spent several years designing silicon chips at Intel, and decided to move up the OSI stack to the application layer. After finishing up 9 intensive weeks at Dev Bootcamp, Uzma intends to catch up on sleep, food and friends.
  .row{class: "founder-page" }
    .div{class: "small-2 columns"}
      %img{:alt => "Matt Barackman", :src => "https://secure.gravatar.com/avatar/4d0fefe57b875a8c292055af64993d0a.png?r=PG&d=mm&s=98", :title => "Matt Barackman"}
    .div{class: "small-6 columns left"}
      Matt came to Dev Bootcamp from the world of advertising where he had the privilege of working on both the LinkedIn and Firefox brands. He loves San Francisco but will be following his giprivilegerlfriend to Cambridge, MA at the end of the summer. He's currently looking for exciting opportunities to grow as a developer there. Outside of coding, Matt is an avid homebrewer and cyclist.

  .row{class: "founder-page" }
    .div{class: "small-2 columns"}
      %img{:alt => "Nicholas Kirchner", :src => "https://secure.gravatar.com/avatar/44c9e1b07a900e162073511ac9039b75.png?r=PG&d=mm&s=98", :title => "Nicholas Kirchner"}
    .div{class: "small-6 columns left"}
      Nicholas Kirchner is at large.
