form {
  input {
    display: block
  }
  select {
    display: block
  }
  legend {
    background: none;
  }
  fieldset {
    border: none;
  }
  input[type=submit]{
    margin-left: 21px;
    margin-bottom: 40px;
  }
}
