


$topbar-bg: #D9FEFF;

body {
  background: url('/assets/paper.png');
}

body .main_container {
  padding-left: 40px;
}

.tag {
  display: block;
  margin-bottom: 10px;
}

.card {
 margin-bottom: 40px;
}

.occasion {
  margin-bottom: 40px;
}

.top-bar {
  border-bottom: #B7BF4C 4px solid;
}
