


$topbar-bg: #D9FEFF;

body {
  background: url('/assets/paper.png');
}

body .main_container {
  margin-top: 100px;
  padding-left: 40px;
}

.tag {
  display: block;
  margin-bottom: 10px;
}

.card {
 margin-bottom: 40px;
}

.occasion {
  margin-bottom: 40px;
}

h1 {
  font-family: 'Amatic SC';
  font-style: 'cursive'; 
}

.logo {
  display: inline-block;
  float: left;
  margin-left: 30px;

}

.top-bar { 
  .name h1 a {
    padding-top: 2px;
    padding-left: 15px;
  }
  a {
    text-decoration: none;
    &:hover {
      text-decoration: none;
    }
  }



}

#category_dropdown {
  width: 160px;
}


#add_occasion_button {
  margin-top: 25px;
}
