#header {
	position: fixed;
	margin: 0;
	top: 0;
	right: 0;
	width: 40%;
	height: 50px;
	float: right;

	.login-links {
		list-style: none;
		float: right;
		
		li {
			display: inline;
			padding-right: 10px;
		}
	}
}