.order_partial {
  padding: 10px;
  margin-bottom: 10px;
  box-shadow: 2px 2px 2px #888888;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;

  h4 {
    margin-bottom: 0px;
  }

  .description {
    margin-bottom: 0px;
    p {
      margin-left: 10px;
    }
  }



}


.no_card {
  border: #FF9999 solid 5px;
  background-color: white;
}

.in_cart {
  border: #FF9999 solid 5px;
  background-color: white;
}

// .in_cart {
//   border: #FFFF99 solid 5px;
//   background-color: white;
// }

.purchased {
  border: #D1C756 solid 5px;
  background-color: white;
}
