.side_bar {
  left: 70%;

  position: fixed; 
  top: 90px; 
  width: 28%; 
  // height: 80vh;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
}


.orders {
  padding: 20px;
}



.shopping_cart {
  height: 50%;
  width: 100%;
}

#submit_form {
  display: none;
}

.jcarousel_test {
  position: relative;
  overflow: hidden;
  height: 500px;
  width: 255px;
  border-bottom: #bbb solid 1px;
  border-top: #bbb solid 1px;


  .pending_orders {
    height: 200000em;
    position: absolute;
    list-style: none;
    margin: 0;
    padding: 0;
  }

/*  .occasion_partial {
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    float: left;
    height: 200px;
    width: 100%;
    border: 1px solid gray;
    background-color: #EEE;
    margin-bottom: 10px;
    padding: 10px;

  }
  */
}
.occasion_partial {
  position: relative;
  float: left;
  height: 380px;
  width: 250px;

  .event_title {
    text-align: center;
    position: absolute;
    width: 90%;
    height: 20%;
    margin-left: 5%;
    margin-bottom: 0;
    color: white;
    background-color: #0080a3;
    h1 {
      color: white;
      font-size: 160%;
    }
  }
  .event_card_container {
    position: absolute;
    padding-top: 4%;
    margin-left: 5%;
    margin-top: 30.5%;
    width: 90%;
    height: 70%;
    text-align: center;
    line-height: 110%;
    background-color: white;
    color: gray;
    min-height: 65%;
  }      
}

.cardclone {
  z-index: 1000;  
  .each_card_display {
    background-color: red;
  }
}

