.side_bar {
  left: 70%;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
}


.side_bar.orders {
  background-color: #C8EBFE;
  padding: 20px;
}

.pending_orders {
  height: auto;
  width: 100%;
  margin-bottom: 30px
}

.shopping_cart {
  height: 50%;
  width: 100%;
}

.add_occasion form {
  display: none;
}

.occasion_partial {
  margin-top: 10px;
  border-bottom: gray 1px solid;
  padding: 10px;
  li {
    margin-left: 20px;
    list-style: dash;
  }

}
