.flexslider {
  padding: 10px;
  box-shadow: 2px 2px 2px #888888;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px
}



.slides img.resize {
  height: 500px;
}

.slides img {
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px
}
.slides h2:nth-of-type(2) {
  margin-top: -15px;
}

.slides h2:nth-of-type(2) {
  margin-top: -15px;
}

.flexslider .description {
  margin-top: 75px;
  padding-left: 30px;
}


