=f.text_field :first_name, placeholder: 'First name'
=f.text_field :last_name, placeholder: 'Last name'
=f.text_field :street_address, placeholder: 'Street address'
=f.text_field :city, placeholder: 'City'
=f.select :state, options_for_select(us_states)
=f.text_field :zipcode, placeholder: 'Zipcode'
