=f.text_field :first_name, placeholder: 'First name'
%br
=f.text_field :last_name, placeholder: 'Last name'
%br
=f.text_field :street_address, placeholder: 'Street address'
%br
=f.text_field :city, placeholder: 'City'
%br
=f.text_field :state, placeholder: 'State'
%br
=f.text_field :zipcode, placeholder: 'Zipcode'
%br
