%h3 Friends

%ul.friends-list
  =render @friends

%p= link_to "Add a friend", new_friend_path
-if current_user.logged_in_with_facebook?
  =link_to 'Add friends from Facebook', '/friends/facebook', :class => 'facebook-add-friends-link'
