.fixed
  %nav{class: "top-bar"}

    .logo
      =image_tag('white_inkwell.png', size: '60x60')

    %ul{class: "title-area"}

      %li{class: "name"}
        %h1 
          =link_to "Inkwell", root_path
    
    %section{class: "top-bar-section"}
      %ul{class: "right"}
        -if current_user && current_user.orders_in_cart.count > 0
          %li{class: "divider"}
          %li{class: "checkout"}
            %a{href: '/checkout'}
              Checkout (#{current_user.orders_in_cart.count})
        -else
          %li{class: "divider", style: "display: none;"}
          %li{class: "checkout"}

        %li{class: "divider"}

        %li{class: "has-dropdown", id: "category_dropdown"}
          %a{href: "#"}
            Categories

          %ul{class: "dropdown"}
            %li
              =link_to "Anniversary Cards", tag_path(1)
            %li
              =link_to "Birthday Cards", tag_path(2)
            %li
              =link_to "Graduation Cards", tag_path(3)
            %li
              =link_to "Holiday Cards", tag_path(4)
            %li
              =link_to "Wedding Cards", tag_path(5)
            %li
              =link_to "New Baby Cards", tag_path(6)
            %li
              =link_to "Other Cards", tag_path(7)


        %li{class: "divider"}
          -if current_user
            %li{class: "has-dropdown"}
              %a
                %span 
                  - if current_user.image_url
                    =image_tag current_user.image_url, size: "40x40" 
                    &#160;&#160;&#160;&#160;&#160;
                  =current_user.email

              %ul.dropdown
                %li
                  =link_to "Friends", friends_path
                %li
                  =link_to "Occasions", occasions_path
                %li
                  -if current_user.authenticated_with_facebook?
                    =link_to "Import Birthdays", '/friends/facebook', :class => 'facebook-add-friends-link'
                  -else
                    =link_to "Connect to Facebook", user_omniauth_authorize_path(:facebook)
                %li
                  =link_to "Logout", destroy_user_session_path
          
          -elsif current_admin
            %li{class: "has-dropdown"}
              =link_to current_admin.email, root_path
              %ul.dropdown
                %li
                  =link_to "Cards", admin_cards_path
                %li
                  =link_to "Orders", admin_orders_path
                %li
                  =link_to "Users", "#"
                %li
                  =link_to "Logout", destroy_admin_session_path


          -else
            %li
              =link_to "Sign Up", new_user_registration_path, :id => 'signup-button'
          
            %li.divider
              %li
                =link_to "Login", new_user_session_path, :id => 'login-button'
 
