
%h1= current_user.email

=link_to 'View Friends', friends_path
%br
=link_to 'Add Friend', new_friend_path
%br
%br
=link_to 'View Occasions', occasions_path
%br
=link_to 'Add Occasion', new_occasion_path
