%h1= current_user.email

-if current_user.logged_in_with_facebook?
	=link_to 'Add friends from Facebook', add_facebook_friends_path

=link_to 'View Friends', friends_path
%br
=link_to 'Add Friend', new_friend_path
%br
%br
=link_to 'View Occasions', occasions_path
%br
=link_to 'Add Occasion', new_occasion_path