.card
  %h3 
    =link_to card.title, card

  .div{class: "row", id: "card-show-row"}
    
    .div{class: "small-1 columns"}
      - card.photos.each do |photo|
        =image_tag photo.data.url(:thumb), :id => photo.id
        %br
        %br

    .div{class: "small-4 columns", "data-default" => card.photos.first.data.url(:medium) }
      = image_tag card.photos.first.data.url(:medium)

    .div{class: "small-7 columns"}
      %p
        Description:
        =card.description

      %p
        Price: 
        =format_price(card.price)

      %p
        =pluralize(card.inventory, "card")
        remaining
      %p
        Tags:
        =card.tag_names



