- unless current_user
  = render partial: "layouts/warning"
  = render partial: "layouts/slider"  

%h1 Cards

%ul{class: "card_gallery inline-list"}
  - @cards.each do |card|
    %div{class: "draggable_card each-card-display"}
      = link_to (image_tag card.photos.first.data.url(:medium), class: card.id), card
