
%h1 
  =@card.title

%p
  Description:
  =@card.description

%p
  Price: 
  ="$"+"#{@card.price / 100}"+"."+"#{@card.price % 100}"

%p
  =pluralize(@card.inventory, "card")
  remaining

-unless current_user.occasions_without_cards.empty?
  =render partial: 'associate_card_form', locals: {card: @card, order: @order}