
.inline-list {
  .each-card-display {
    // min-height: 250px;
    // margin: 0;
    // padding-bottom: 10px;
    // padding-top: 10px;
    // margin-left: 0;
    box-sizing: border-box;
    background-color: white;
    padding: 20px;
    box-shadow: 2px 2px 2px #888888;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    height: 285px;
    margin-bottom: 10px;
    overflow: hidden;
    
    .pop-up {
      display: none;
      width: 500px;
      padding: 10px;
      background: #eeeeee;
      color: #000000;
      border: 1px solid #1a1a1a;
      font-size: 90%;
    }
  }
}

.card-draggable-helper {
  z-index: 99999999999;
  position: absolute;
}

.card_gallery {
  overflow: visible;

  li {

    // height: 304px;
  }

}


.invisible {
  opacity: 0;
}

.visible {
  opacity: 1;
 // -webkit-transition-property: opacity; -webkit-transition-duration: 500ms;
 // -moz-transition-property: opacity; -moz-transition-duration: 500ms;
 // transition-property: opacity; transition-duration: 500ms;
}
