
.inline-list {
  .each-card-display {
    // box-sizing: border-box;
    background-color: white;
    padding: 10px;
    // box-shadow: 2px 2px 2px #888888;
    // -webkit-border-radius: 5px;
    // -moz-border-radius: 5px;
    // border-radius: 5px;
    height: 260px;
    overflow: hidden;
    width: 200px;
    display: inline-block;
    vertical-align: top;
    margin: 10px;
    
    .pop-up {
      display: none;
      width: 500px;
      padding: 10px;
      background: #eeeeee;
      color: #000000;
      // border: 1px solid #1a1a1a;
      font-size: 90%;
    }
  }
}

.card-draggable-helper {
  z-index: 99999999999;
  position: absolute;
}

.card_gallery {
  overflow: visible;

  li {

    // height: 304px;
  }

}


.invisible {
  opacity: 0;
}

.visible {
  opacity: 1;
 // -webkit-transition-property: opacity; -webkit-transition-duration: 500ms;
 // -moz-transition-property: opacity; -moz-transition-duration: 500ms;
 // transition-property: opacity; transition-duration: 500ms;
}
