
ul.friends-list {
  list-style-type: none;
}

li .each-friend-view {
  box-sizing: border-box;
  background-color: white;
  padding: 20px;
  box-shadow: 2px 2px 2px #888888;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  height: 110px;
  margin-bottom: 10px;
  width: 80%;
  overflow: hidden;
}
