= f.collection_select :friend_id, current_user.friends, :id, :name, placeholder: 'Select friend'
= f.date_select :date
= f.text_field :name, placeholder: 'Occasion name'
= f.text_field :event_type_name, placeholder: 'Event type name'
