%h1 Upcoming Occasions

.upcoming_orders
  .orders
    =render partial: "order", collection: @upcoming_orders, as: :order

%h1 Future Occasions

.future_orders
  .orders
    =render partial: "order", collection: @future_orders, as: :order
