<!DOCTYPE html>
<html lang="en">
<head>
  <meta http-equiv="Content-type" content="text/html; charset=utf-8" />
  <title>Stripe Getting Started Form</title>
 
  <!-- The required Stripe lib -->
  <script type="text/javascript" src="https://js.stripe.com/v1/"></script>
  <script type="text/javascript">
  
    // This identifies your website in the createToken call below
    Stripe.setPublishableKey("<%= Rails.configuration.stripe[:publishable_key] %>");
 
    var stripeResponseHandler = function(status, response) {
      var $form = $('#payment-form');
 
      if (response.error) {
        // Show the errors on the form
        $form.find('.payment-errors').text(response.error.message);
        $form.find('button').prop('disabled', false);
      } else {
        // token contains id, last4, and card type
        var token = response.id;
        // Insert the token into the form so it gets submitted to the server
        $form.append($('<input type="hidden" name="stripeToken" />').val(token));
        // and re-submit
        $form.get(0).submit();
      }
    };
 
    jQuery(function($) {
      $('#payment-form').submit(function(e) {
        var $form = $(this);
 
        // Disable the submit button to prevent repeated clicks
        $form.find('button').prop('disabled', true);
 
        Stripe.createToken($form, stripeResponseHandler);
 
        // Prevent the form from submitting with the default action
        return false;
      });
    });
  </script>
</head>

<body>

  <%= form_tag charges_path, :id => 'payment-form' do %>
  <%= hidden_field_tag :amount, totalprice %>
    <span class="payment-errors"></span>

    <div id="shipping-box">
    Your name:
    <input type="text" autofocus name="shipping[first_name]" placeholder="First name" id="stripe-first-name">
    <input type="text" name="shipping[last_name]" placeholder="Last name" id="stripe-last-name">
    Shipping Address:
    <input type="text" name="shipping[street_address]" placeholder="Street address" id="stripe-street-address" class="payment-input">
    <input class="payment-input" type="text" name="shipping[city]" placeholder="City" id="stripe-city">
    <select class="payment-input" name="shipping[state]" size="1" id="stripe-state">
    <option selected value="">State...</option>
    <option value="AL">Alabama</option>
    <option value="AK">Alaska</option>
    <option value="AZ">Arizona</option>
    <option value="AR">Arkansas</option>
    <option value="CA">California</option>
    <option value="CO">Colorado</option>
    <option value="CT">Connecticut</option>
    <option value="DE">Delaware</option>
    <option value="FL">Florida</option>
    <option value="GA">Georgia</option>
    <option value="HI">Hawaii</option>
    <option value="ID">Idaho</option>
    <option value="IL">Illinois</option>
    <option value="IN">Indiana</option>
    <option value="IA">Iowa</option>
    <option value="KS">Kansas</option>
    <option value="KY">Kentucky</option>
    <option value="LA">Louisiana</option>
    <option value="ME">Maine</option>
    <option value="MD">Maryland</option>
    <option value="MA">Massachusetts</option>
    <option value="MI">Michigan</option>
    <option value="MN">Minnesota</option>
    <option value="MS">Mississippi</option>
    <option value="MO">Missouri</option>
    <option value="MT">Montana</option>
    <option value="NE">Nebraska</option>
    <option value="NV">Nevada</option>
    <option value="NH">New Hampshire</option>
    <option value="NJ">New Jersey</option>
    <option value="NM">New Mexico</option>
    <option value="NY">New York</option>
    <option value="NC">North Carolina</option>
    <option value="ND">North Dakota</option>
    <option value="OH">Ohio</option>
    <option value="OK">Oklahoma</option>
    <option value="OR">Oregon</option>
    <option value="PA">Pennsylvania</option>
    <option value="RI">Rhode Island</option>
    <option value="SC">South Carolina</option>
    <option value="SD">South Dakota</option>
    <option value="TN">Tennessee</option>
    <option value="TX">Texas</option>
    <option value="UT">Utah</option>
    <option value="VT">Vermont</option>
    <option value="VA">Virginia</option>
    <option value="WA">Washington</option>
    <option value="WV">West Virginia</option>
    <option value="WI">Wisconsin</option>
    <option value="WY">Wyoming</option>
    </select>
    <input class="payment-input" type="text" name="shipping[zipcode]" placeholder="Zipcode" id="stripe-zipcode">
  </div>
  <div id="payment-box">
    <img src="http://www.credit-card-logos.com/images/visa_mastercard_credit-card-logos/mc_vs_accpt_h_023_gif.gif"/>
    <input class="payment-input" type="text" pattern="[0-9]{13,16}" placeholder="* * * *   * * * *    * * * *   * * * *" data-stripe="number" required id="stripe-credit-card" />
 
        <input class="payment-input" type="text" size="2" data-stripe="exp-month" placeholder="MM" id="stripe-mm"/>
          <span id="payment-dash">/</span>
      <input class="payment-input" type="text" size="4" data-stripe="exp-year" placeholder="YYYY" id="stripe-yyyy"/>
        <input class="payment-input" type="text" size="4" data-stripe="cvc" placeholder="CVC" id="stripe-cvc"/>
    <button type="submit" id="stripe-submit">Submit Payment</button>
   
    </div>
 
  </form>
</div>
</body>
</html>

<% end %>
