/ {style: "position: fixed; width: 28%; height: 10vh" }

.side_bar


  %row
    %button{id: "add_occasion_button"} Add occasion
  %row  

    - if current_user.orders_without_cards.empty? && current_user.orders_in_cart.empty?        
      %h3 Add some occasions to get started!

    - elsif current_user.orders_without_cards.empty? && !current_user.orders_in_cart.empty?
      %h3 You're all set to checkout below!

    - else
      %h3 Drag cards onto your occasions. 

  %row
    .orders{class: "pending_orders"}
      .add_occasion
        = form_for :occasion, remote: true, url: occasions_path, format: :json, html: { id: "submit_form" } do |f|
          = render partial: "occasions/form", locals: {f: f}
          = f.submit 'Add!'

  
  %row
    %h3 Shopping Cart

  %row
    %div.orders{class: "shopping_cart"}
