/ {style: "position: fixed; width: 28%; height: 10vh" }

.side_bar


  %row
    %button{id: "add_occasion_button"} Add occasion
  %row  

    - if current_user.orders_without_cards.empty? && current_user.orders_in_cart.empty?        
      %h3 Add some occasions to get started!

    - elsif current_user.orders_without_cards.empty? && !current_user.orders_in_cart.empty?
      %h3 You're all set to checkout below!

  %row
    <a class="scrollup"><i class="icon-chevron-up icon-2x"></i></a>
    .jcarousel_test
      .orders{class: "pending_orders"}
    <a class="scrolldown"><i class="icon-chevron-down icon-2x"></i></a>

- unless current_user.friends.empty?
  = form_for :occasion, remote: true, url: occasions_path, format: :json, html: { id: "submit_form" } do |f|
    = render partial: "occasions/form", locals: {f: f}
    = f.submit 'Add!'
