.flexslider
  %ul{class: "slides"}
    %li 
      .row
        .div{class: "small-6 columns description"}
          %h2 Welcome to Inkwell
          %p 
            At inkwell we believe that the act of sending a handwritten letter
            has no substitute in our electronic age. A wall post just doesn't 
            say I care, like a thoughtfully written note.
        .div{class: "small-6 columns"}
          = image_tag('hello_there_resized_yellow.jpg')

    %li
      .row
        .div{class: "small-6 columns description"}
          %h2 All of the Thought,
          %h2 None of the Hassle
          %p 
            Every card purchased at Inkwell is mailed to you a week before your
            special occasion (postage stamp included), so you can worry less 
            about running to the store and focus more on writing the perfect note.
        .div{class: "small-6 columns"}
          = image_tag('veronica_mars.jpg')

    %li
      .row
        .div{class: "small-6 columns description"}
          %h2 Curated Selection, 
          %h2 Independent Spirit
          %p  
            At Inkwell, you'll find a selection of cards hand-picked from our
            favorite independent letterpresses around the country. You're going
            to put care into your letter, so you should have cards made with
            care put into them.


        .div{class: "small-6 columns"}
          = image_tag('sweet-letterpress-1.jpg')
