.warning
  %span{class: "right"}
    %a{href: "#"}
      %i{class: "icon-remove"}
  %h4 
    %i{class: "icon-warning-sign"}
    Under Construction.   
  %p 
    Sorry! This site was originally made as a final project for a web development course. We're working quickly to turn Inkwell into an actual business, but for now we're not taking orders and can't guarantee anything you do will be saved. Feel free to poke around and give us feedback though!
  %p 
    You can reach us at
    %a{href: "mailto:dbcinkwell@gmail.com"}
      dbcinkwell@gmail.com
